<button id="menu-toggle" class="menu-toggle"><span>Menu</span></button>
<div id="theSidebar" class="sidebar">
    <button class="close-button fa fa-fw fa-close"></button>
    <h1>{{ app_name }}</h1>
    <nav class="codrops-demos">
        <a href="index.html">Demo 1</a>
        <a class="current-demo" href="index2.html">Demo 2</a>
    </nav>
    <div class="related">
        <h3>Related Demos</h3>
        <a href="http://tympanus.net/Development/BookPreview/">Book Preview</a>
        <a href="http://tympanus.net/Tutorials/ThumbnailGridExpandingPreview/">Thumbnail Grid</a>
        <a href="http://tympanus.net/Development/3DGridEffect/">3D Grid Effect</a>
    </div>
</div>