{% extends '@Front/layout.html.twig' %}

{% form_theme form _self %}

{% block form_errors %}
    {% if errors|length %}
        <span class="tooltip has-danger">
            {% for error in errors %}
                {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}<br/>
            {% endfor %}
        </span>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="main">
        {% include '@Front/Post/form.html.twig' %}
    </div>
{% endblock %}

