{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <div class="post">
            <div class="post-photo">
                <img src="{{ post.coverPicture.url }}"/>
            </div>
            <div class="post-sidebar">
                {{ post.author.fullName }}
            </div>
        </div>
    </div>
{% endblock %}