Cher ami amateur de photo,
<br/><br/>
{{ invite.invitingUser.firstName }} a le plaisir de te présenter un site de challenge photographique, qui permet de mettre en ligne nos photos et ainsi les exposer et les soumettre à l’appréciation des amateurs d’images.
<br/>
Il s’agit, pour les photographes challengers, d’une liste de 52 sujets, donc un sujet par semaine.
<br/>
Les 52 sujets sont imposés au début de l’année, chacun des participants peut y déposer 1 photo par semaine dans le cadre du sujet imposé.
<br/>
La liste des 52 premiers sujets consiste en un tour d’horizon de techniques et de formats différents. Cette liste nous a paru complète et intéressante en terme d’apprentissage, mais l’objectif du site sera à l’avenir de pouvoir accepter d’autres listes de sujets, voire de modifier celle-ci en fonction des propositions.
<br/><br/>
Inscris toi avec le lien ci-dessous :<br/>
<a href="{{ url('front_register', {'email': invite.email, 'code': invite.code}) }}">S'inscrire</a>
<br/>
A très bientôt sur Trigger Challenge,