Bonjour {{ user.firstName }},
<br/><br/>
Non, vous ne perdez pas la boule. Ça arrive même aux meilleurs. On a trop de mots de passe, voilà tout.
<br/><br/>
Voici votre nouveau mot de passe : <b>{{ password }}</b>
<br/><br/>
Une fois a nouveau connecté nous vous recommandons vivement de changer le mot de passe que nous venons de vous fournir.
<br/>
Indice, il s'agit de cette page : <a href="{{ url('front_user_profile_edit_password') }}">{{ url('front_user_profile_edit_password') }}</a>
<br/><br/>
Si vous n'avez pas demandé la réinitialisation de votre mot de passe, ignorez simplement cet e-mail.
Soyez rassuré, votre compte reste sécurisé.