<footer class="footer">
    <div class="container-fluid">
        <div class="social-buttons">
            <a href="https://www.facebook.com/triggerchallenge" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/triggerchallenge" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="mt-1">
            <p class="oswald">© 2016 {{ app_name|upper }}</p>
        </div>
    </div>
</footer>