{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <section>
            <h2 class="section-title">Challenges</h2>
            <div class="row">
                {% for challengeSubject in challengeSubjects %}
                    {% include 'FrontBundle:ChallengeSubject:thumbnail.html.twig' with { 'challengeSubject': challengeSubject} %}
                {% endfor %}
            </div>
        </section>

        <section class="grid">
            <h2 class="section-title">Dernières photos</h2>
            {% for post in posts %}
                {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
            {% endfor %}
        </section>
    </div>
{% endblock %}