{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <section>
            {% for ongoingFeaturedChallenge in ongoingFeaturedChallenges %}
                <div class="slider-nav">
                    <div id="js-slider-prev" class="slider-arrow">
                        <i class="icon-chevron-left icon-1_5x"></i>
                        {#<span>Sujet précédent</span>#}
                    </div>
                    <h2 class="section-title">{{ ongoingFeaturedChallenge.challenge.name }}</h2>
                    <div id="js-slider-next" class="slider-arrow">
                        {#<span>Sujet suivant</span>#}
                        <i class="icon-chevron-right icon-1_5x"></i>
                    </div>
                </div>
                <div id="js-slider-container" class="row card-group">
                    {% for challengeSubject in ongoingFeaturedChallenge.previousSubjects %}
                        {% include 'FrontBundle:ChallengeSubject:thumbnail.html.twig' with { 'challengeSubject': challengeSubject, 'display': 'hide' } %}
                    {% endfor %}
                    {% for challengeSubject in ongoingFeaturedChallenge.subjects %}
                        {% include 'FrontBundle:ChallengeSubject:thumbnail.html.twig' with { 'challengeSubject': challengeSubject } %}
                        {% set count = count + 1 %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>

        <section class="grid">
            {% if posts is not empty %}
                <h2 class="section-title">{{ 'picture.title.last_pictures'|trans }}</h2>
                {% for post in posts %}
                    {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
                {% endfor %}
            {% endif %}
        </section>

    </div>
{% endblock %}