{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <section>
                {% for ongoingFeaturedChallenge in ongoingFeaturedChallenges %}
            <h2 class="section-title">{{ ongoingFeaturedChallenge.challenge.name }}</h2>
            <div class="row">
                {% for challengeSubject in ongoingFeaturedChallenge.subjects %}
                    {% include 'FrontBundle:ChallengeSubject:thumbnail.html.twig' with { 'challengeSubject': challengeSubject} %}
                {% endfor %}
                    </div>
                {% endfor %}

        </section>

        <section class="grid">
            <h2 class="section-title">Dernières photos</h2>
            {% for post in posts %}
                {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
            {% endfor %}
        </section>
    </div>
{% endblock %}