{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <section>
            {% for ongoingFeaturedChallenge in ongoingFeaturedChallenges %}
                <div class="slider-nav">
                    <div id="js-slider-prev" class="slider-arrow">
                        <i class="fa fa-chevron-left fa-2x "></i>
                        {#<span>Sujet précédent</span>#}
                    </div>
                    <h2 class="section-title">{{ ongoingFeaturedChallenge.challenge.name }}</h2>
                    <div id="js-slider-next" class="slider-arrow">
                        {#<span>Sujet précédent</span>#}
                        <i class="fa fa-chevron-right fa-2x"></i>
                    </div>
                </div>
                <div class="row card-group slider-container">
                    {% for challengeSubject in ongoingFeaturedChallenge.previousSubjects %}
                        {% include 'FrontBundle:ChallengeSubject:thumbnail.html.twig' with { 'challengeSubject': challengeSubject, 'display': 'hide' } %}
                    {% endfor %}
                    {% for challengeSubject in ongoingFeaturedChallenge.subjects %}
                        {% include 'FrontBundle:ChallengeSubject:thumbnail.html.twig' with { 'challengeSubject': challengeSubject } %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>

        <section class="grid">
            <h2 class="section-title">{{ 'picture.title.last_pictures'|trans }}</h2>
            {% for post in posts %}
                {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
            {% endfor %}
        </section>
    </div>
{% endblock %}