{% extends '@Front/layout.html.twig' %}

{% block body %}
    <div class="main">
        <section class="grid">
            {% for post in posts %}
                {% include 'FrontBundle:Post:thumbnail.html.twig' with { 'post': post } %}
            {% endfor %}

            {#<footer class="page-meta">#}
                {#<span>Load more...</span>#}
            {#</footer>#}
        </section>
    </div>
{% endblock %}