@import 'vars';

.login {
  margin: 20px auto;
  width: 300px;
  max-height: 0vh;
}

.login-screen {
  background-color: #FFF;
  padding: 20px;
  @include border-radius(5px);
  margin-top: 50vh;
  transform: translateY(-50%);
  opacity: 0.9;
}

.login-screen h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.67em;
  font-size: 2em;
}

.login-form {
  text-align: center;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}