@import 'vars';

.post {
  width: 100%;
  margin: auto;

  .post-photo {
    height: 500px;
    overflow: hidden;
    background-color: $body-background-second-color;
    text-align: center;
    margin: -10px -10px 0;
    img {
      display: inline;
      max-height: 100%;
      vertical-align: middle;
    }
  }
}

@media only screen and (max-width: 768px) {
  .post {
    .post-photo {
      height: 250px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .post {
    .post-photo {
      height: 375px;
    }
  }
}