@import 'vars';

*:focus {
  outline: none;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $body-background-color;
  color: $primary-text-color;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll;
}

body.full-picture {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: $primary-text-color;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

p {
  font-weight: 200;
}

.main {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* Grid container */
.grid {
  position: relative;
  padding-top: 8px;
}

.grid-item {
  /*padding: 45px 55px 30px;*/
  /*position: relative;*/
  cursor: pointer;
  color: #fff;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  overflow: hidden;
}

.grid-item .grid-item-picture {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
  transition: transform 0.2s ease-in-out;
  object-fit: cover;
}

.grid-item:hover .grid-item-picture {
  transform: scale(1.15, 1.15);
}

.grid-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #FFF;
}

.grid-item:hover .overlay {
  display: block;
  background: rgba(189, 189, 189, .2);
}

.grid-item .grid-item-picture.portrait {
  width: 100%;
  height: auto;
}

.grid-item .grid-item-title {
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.grid-item:hover .grid-item-title {
  color: $dark-primary-color;
}

.grid-item-footer {
  text-align: left;
  width: 100%;
  position: absolute;
  bottom: 10px;
  color: #FFF;
}

.grid-item-footer span,
.grid-item-footer img {
  margin-left: 8px;
  vertical-align: middle;
}

.small {
  font-size: 12px;
  font-weight: 100;
}

.fa {
  margin-right: 4px;
  font-size: initial;
}

.avatar {
  @include border-radius(50%);
  width: 40px;
  height: 40px;
}

.avatar-big {
  @extend .avatar;
  width: 100px;
  height: 100px;
}

.control-group {
  margin-bottom: 10px;

  input {
    text-align: center;
    background-color: #ECF0F1;
    border: 1px solid transparent;
    @include border-radius(3px);
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
  }
}

.btn {
  transition: 0.25s;

  &:hover,
  &:focus,
  &:active
  &:visited {
    outline: none;
  }
}

.btn-tc {
  border: 1px solid transparent;
  background: $dark-primary-color;
  color: #ffffff;

  &:hover,
  &:focus,
  &:active
  &:visited {
    background-color: $dark-primary-color !important;
    border-color: $input-focus-color;
  }
}

span.my-tooltip {
  line-height: 20px;
  font-size: 15px;

  &.has-danger {
    color: $accent-color;
  }

}

@media screen and (min-width: 600px) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* 2 columns */
  .grid .grid-item {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  /* 3 columns */
  .grid .grid-item {
    width: 33.333%;
  }
}

@media screen and (min-width: 1200px) {
  /* 4 columns */
  .grid .grid-item {
    width: 25%;
  }

  .main {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  span.my-tooltip {
    position: absolute;
    min-width: 250px;
    line-height: 20px;
    margin-left: 15px;
    margin-right: 10px;
    padding: 12px;
    font-size: 15px;
    @include border-radius(3px);
    text-align: center;
    color: #ffffff !important;
    bottom: 0;
    left: 100%;

    &.has-danger {
      border: 1px solid $accent-color;
      background-color: $accent-color;

      &:after {
        border-style: solid;
        border-color: transparent $accent-color transparent transparent;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      top: 10px;
      left: -20px;
    }
  }
}

@media screen and (min-width: 1500px) {
  /* 5 columns */
  .grid .grid-item {
    width: 20%;
  }
}

@media screen and (min-width: 1800px) {
  /* 6 columns */
  .grid .grid-item {
    width: 16.66%;
  }
}

@media screen and (min-width: 2100px) {
  /* 7 columns */
  .grid .grid-item {
    width: 14.285%;
  }
}

.message {
  @include border-radius(3px);
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
  margin: 2px;
}

.error-message p {
  @extend .message;
  background: $accent-color;
}

.center {
  text-align: center;
}

.page-title {
  text-align: center;
  padding: 1px;

  h1, h2 {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 12px;
    text-transform: uppercase;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }

  .subtitle {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
  }
}

.section-title {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, .5);
  text-align: center;
}